#calculator {
  width: 300px;
}

.container {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

#display {
  text-align: left;
  height: 50px;
}

#displaySpan {
  padding-top: 12.5px;
  padding-left: 5px;
}

#keypad .row {
  margin: 0px;
  padding: 0px;
}

.col {
  border: 1px solid;
  border-color: black;
  margin: 0px; /* !importnat if you want it to forcefully over-write any other places where this may be set */
  padding: 0px;
}